/*the menu nav bar start ------->*/

.weibody {
    width: 100%;
}

.wei-mgpazero {
    margin: 0;
    padding: 0;
}

.toggle-nav {
    display: none;
}

.menu li {
    list-style: none;
    float: left;
    margin: 0px 50px 0px 0px;
    font-size: 18px;
}

.menu a {
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    color: rgb(146, 151, 150)!important;
    transition: color linear 0.15s;
    cursor: pointer;
}

.menu .menu-logo {
    margin: auto;
    margin-left: 0px;
    padding: 10px;
    padding-left: 20px;
}

.menu .menu-logo a {
    color: #fff!important;
}

.menu a:hover, .menu .current-active a {
    text-decoration: none;
    color: #337275!important;
}

@media screen and (min-width: 900px) {
    .menu {
        width: 100%;
        border-radius: 4px 4px 0px 0px;
        background: #272626;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        display: flex;
    }
    .menu ul {
        padding-top: 15px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 900px) {
    .menu {
        position: relative;
        width: 100%;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 3px 3px 0px 0px;
        background: #272626;
    }
    .toggle-nav {
        position: absolute;
        float: left;
        top: 20%;
        left: 10px;
        color: #ffffff!important;
        text-decoration: none;
    }
    .toggle-nav.active {
        top: 5%;
    }
    .menu .menu-logo {
        text-align: center;
    }
    .menu ul.active {
        display: none;
    }
    .menu ul {
        position: relative;
        left: 0px;
        padding: 10px 25px;
        margin-top: -5px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 3px 3px;
        background: #272626;
    }
    .menu li {
        margin: 10px 0px 10px 0px;
        float: none;
        display: block;
    }
    .menu a {
        display: block;
    }
}

/*blockFirst*/

.blockFirst {
    border-top: 1px solid #666;
    background: #303030;
    min-height: 90vh;
    text-align: center;
}

.blockFirst .major {
    text-align: center;
    padding-top: 40vh;
}

@media screen and (max-width: 900px) {
    .blockFirst {
        margin-top: -5%;
    }
    .blockFirst .major {
        text-align: center;
        padding-top: 20vh;
    }
}

.wei-header {
    opacity: 0.9;
    color: #fff;
    font-weight: 150;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-family: Arial;
}

.wei-header-line {
    letter-spacing: 40px;
    font-weight: 100;
    font-size: 1.5em;
    border-top: solid 2px #fff;
    display: inline-block;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
}

.page-wrapper {
    background-image: url('../imgs/pic.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 0;
    width: 100%;
    height: 90vh;
}

/*blockSeond start----->*/

.blockSeond {
    background: #f3f3f3;
    width: 100%;
    height: 100%;
}

.blockSeond .toptitle {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    padding: 1.8em 0;
    text-align: center;
}

.blockSeond .toptitle::after {
    width: 100px;
    content: "";
    height: 2px;
    background-color: #c7a17a;
    display: block;
    margin: 0.4em auto 0;
}

.product_display_item {
    margin: 4em auto;
    margin-top: 1em;
    border: none;
}

.product-item {
    height: 100%;
    margin: 0 2em;
    background-color: white;
    /* box-shadow: 0px 0px 5px #000; */
    border: none;
}

.product-item:hover .product-imgbtn {
    opacity: 1;
    box-shadow: 0px 0px 15px burlywood;
}

.product-item:hover .img-zoom {
    background-color: rgba(0, 0, 0, 0.6);
    /* opacity: .8; */
}

.product-item:hover .product-item-img {
    opacity: .09;
}

.img-zoom {
    background-color: whi;
    height: 80%;
    overflow: hidden;
    position: relative;
}

.product-imgbtn {
    width: 5em;
    height: 5em;
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: rgb(80, 65, 47);
    color: burlywood;
    border-radius: 100%;
    border: none;
    opacity: 0;
    box-shadow: none;
    transition: opacity .5s ease;
    transition: box-shadow .5s ease;
}

.product-item-img {
    width: 100%;
    height: 100%;
    transition: all .6s linear;
    /* transition: transform 0.8s ease; */
}

.product-item-content {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

/*blockthird start--->*/

.blockthird {
    width: 100%;
    height: 100%;
}

.blockthird .page-wrapper {
    height: 100%;
    background-image: -moz-linear-gradient(top, rgba(14, 13, 13, 0.6), rgba(0, 0, 0, 0.9)), url("../imgs/camping2.jpg");
    background-image: -webkit-linear-gradient(top, rgba(14, 13, 13, 0.6), rgba(0, 0, 0, 0.9)), url("../imgs/camping2.jpg");
    background-image: -ms-linear-gradient(top, rgba(14, 13, 13, 0.6), rgba(0, 0, 0, 0.9)), url("../imgs/camping2.jpg");
    background-image: linear-gradient(top, rgba(14, 13, 13, 0.6), rgba(0, 0, 0, 0.9)), url("../imgs/camping2.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
}

.page-wrapper-box {
    padding: 50px 100px 100px 100px;
    text-align: center;
    color: white;
}

.page-wrapper-box .page-wrapper-title {
    margin-bottom: 20px;
}

.page-wrapper-content {
    text-align: left;
    letter-spacing: 4px;
    font-family: 'Noto Sans TC', sans-serif;
}

.page-wrapper-bottom {
    margin-top: 50px;
}

.goods-btn {
    margin: auto;
    display: block;
    width: 200px;
    height: 35px;
    text-align: center;
    border-color: rgb(236, 228, 228);
    border-radius: 3px 3px 3px 3px;
    background: rgb(236, 228, 228);
    letter-spacing: 10px;
    box-shadow: 1px 1px 5px rgb(224, 216, 216);
}

.goods-btn:hover {
    background: -webkit-linear-gradient(rgb(107, 64, 64), rgb(133, 78, 78));
    background: -o-linear-gradient(rgb(107, 64, 64), rgb(133, 78, 78));
    background: -moz-linear-gradient(rgb(107, 64, 64), rgb(133, 78, 78));
    background: linear-gradient(rgb(107, 64, 64), rgb(133, 78, 78));
    background-color: rgb(107, 64, 64);
    color: rgb(240, 233, 233);
    border: none;
    box-shadow: 1px 1px 10px rgb(80, 65, 47, .6);
    opacity: 0.8;
}

/*blockfour ------>*/

.blockfour {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.9;
}

.blockfour .wei-pic-boxs {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    color: white;
    text-align: center;
}

.blockfour .wei-pic-boxs .box {
    position: relative;
    min-width: 25%;
    max-height: 100%;
    transition: background-color 0.4s ease 0s;
}

.blockfour .wei-pic-boxs .box .b-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.blockfour .wei-pic-boxs .box .b-img:hover {
    cursor: pointer;
    background-color: #1d2222;
    opacity: 0.7;
}

.piczoom {
    transition: transform 0.8s ease;
}

.blockfour .wei-pic-boxs .box .b-img:hover .piczoom {
    transform: scale(1.08);
}

.blockfour .wei-pic-boxs .box .b-content {
    height: 50%;
    line-height: 45vh;
    letter-spacing: 2px;
}

.half {
    height: 50%!important;
}

.left-pic {
    background-image: url('../imgs/camping3.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.middleone-pic {
    background-image: url('../imgs/camping8.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.middletwo-pic {
    background-image: url('../imgs/camping4.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.right-doc {
    background-image: url('../imgs/camping6.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.wei-pic-boxs .wei-Pagination {
    display: none;
}

@media screen and (max-width: 900px) {
    .wei-pic-boxs .box {
        display: none;
    }
    .wei-pic-boxs .box.active {
        display: block;
        position: relative;
        min-width: 100%;
        max-height: 100%;
        transition: background-color 0.4s ease 0s;
    }
    .wei-pic-boxs .wei-Pagination {
        display: flex;
        position: absolute;
        bottom: 5%;
        left: calc(40%);
        width: 100%;
    }
    .wei-pic-boxs .wei-Pagination .pagebtn-one {
        margin-left: 5px;
        margin-right: 5px;
    }
    .wei-pic-boxs .wei-Pagination .pagebtn-one:hover {
        cursor: pointer;
    }
    .wei-pic-boxs .wei-Pagination .pagebtn-one.active {
        color: #9e9595;
        opacity: 0.9;
    }
}

/*blockfour <-------------*/

/*blockfive-------->start*/

.blockfive {
    margin-top: 0px;
    width: 100%;
    height: 100%;
}

.wei-box {
    max-width: 25%;
    color: #fff;
    min-height: 100%;
    background-color: rgb(51, 49, 49, .8);
    border-right: 1px solid rgb(175, 172, 172);
    transition: background-color 0.4s ease 0s;
}

.wei-box:hover {
    background-color: rgb(61, 32, 32);
    /* background-color: #4e7a7c; */
    opacity: 0.9;
    cursor: pointer;
}

.wei-box-content {
    margin: 10px 25px 10px 25px;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: top 0.4s ease 0s;
}

.wei-box-content:hover {
    position: relative;
    top: -60px;
    cursor: pointer;
}

.wei-box-content-titile {
    text-align: center;
    font-size: 16px;
    height: 40px;
    color: #fff;
}

.wei-box-content-body {
    font-size: 10px;
    color: #fff;
}

.wei-box-empty {
    height: 180px;
}

.wei-box-icon {
    text-align: center;
    height: 80px;
}

.wei-box-content-footer {
    text-align: center;
}

.wei-box-content-footer a {
    text-decoration: none;
    color: #fff;
}

.wei-box-content-footer a:hover {
    text-decoration: none;
    color: #1d2222;
    cursor: pointer;
}

.backgroundimg {
    cursor: pointer;
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.wei-boxs .wei-Pagination {
    display: none;
}

.wei-boxs .wei-Pagination .pagebtn {
    margin-left: 5px;
    margin-right: 5px;
}

.wei-boxs .wei-Pagination .pagebtn i {
    color: whitesmoke;
}

.wei-boxs .wei-Pagination .pagebtn i:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .wei-box {
        position: relative;
        display: none;
    }
    .wei-box.active {
        display: block;
        min-width: 100%;
        min-height: 100%;
        color: #fff;
        background-color: #303030;
        opacity: 0.8;
        transition: background-color 0.4s ease 0s;
    }
    .wei-box:hover.active {
        background-color: #4e7a7c;
        opacity: 0.9;
        cursor: pointer;
    }
    .wei-box-content {
        margin: 10px 40px 10px 40px;
        font-size: 16px;
    }
    .wei-box-content-titile {
        text-align: center;
        font-size: 18px;
        height: 45px;
        color: #fff;
    }
    .wei-box-content-body {
        text-align: center;
        font-size: 12px;
        color: #fff;
    }
    .wei-box-icon i {
        font-size: 60px!important;
    }
    .wei-boxs .wei-Pagination {
        display: flex;
        position: relative;
        bottom: 10%;
        left: calc(40%);
        width: 100%;
    }
    .wei-boxs .wei-Pagination .pagebtn i {
        color: whitesmoke;
    }
    .wei-boxs .wei-Pagination .pagebtn.active i {
        color: #9e9595;
        opacity: 0.9;
    }
}

/*blockfive<-------- end*/

/*blocksix-------->start*/

.blocksix {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
}

.contact-left {
    width: 50%;
}

.contact-right {
    width: 50%;
    text-align: left;
    background-color: #f3f3f3;
}

.contact-right h1 {
    color: black;
    font-weight: bold;
    font-size: 2em;
    padding: 1em 1em;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.contact-right h1::after {
    position: relative;
    left: -40%;
    width: 100px;
    content: "";
    height: 2px;
    background-color: #c7a17a;
    display: block;
    margin: 0.1em auto;
}

.contact-content {
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
}

.cc-item {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.cc-item-top {
    display: flex;
}

.cc-item-bottom {
    max-width: 200px;
    /* margin: 0 1em; */
}

.cc-item i {
    color: #c7a17a;
    margin-right: 1.5em;
    font-size: 1.5em;
}

.cc-item p {
    line-height: 1.5em;
}

@media screen and (max-width: 768px) {
    .blocksix {
        display: block;
    }
    .contact-left {
        width: 100%;
    }
    .contact-right {
        width: 100%;
        text-align: left;
        background-color: #f3f3f3;
    }
    .contact-right h1::after {
        position: relative;
        left: -20%;
        width: 100px;
        content: "";
        height: 2px;
        background-color: #c7a17a;
        display: block;
        margin: 0.1em auto;
    }
}

/*blocksix<-------- end*/

/* 
.empty-place {
    width: 100%;
    height: 10px;
} */

/*footer*/

@media screen and (max-width: 768px) {
    .footer .copyright li {
        border-left: solid 1px white;
        display: flex;
        margin: 0px 5px 0px 5px;
        padding: 0px 2px 0px 10px;
    }
}

.footer {
    width: 100%;
    background: #303030;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.footer .footer-box {
    padding: 8vw;
    padding-bottom: 30px;
}

.footer .footer-menu {
    /* color: gray; */
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer .footer-title {
    font-size: 18px;
    color: #777;
    margin: 0px;
    padding: 0px;
}

.footer .footer-menu :any-link {
    color: gray;
    font-size: 14px;
    list-style: none;
}

.footer .footer-menu :any-link:hover {
    color: #4e7a7c;
    text-decoration: none;
}

.footer .sns {
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.footer .sns .weiicon {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: #666;
}

.footer .sns .weiicon:any-link:hover {
    text-decoration: none;
    color: #4e7a7c;
}

.footer .copyright {
    margin: auto;
    text-align: center;
    color: whitesmoke;
    margin-top: 30px;
    padding: 15px;
    list-style: none;
    font-size: 15px;
}

.footer .copyright li {
    justify-items: center;
    align-items: center;
    border-left: solid 1px white;
    display: inline-block;
    margin: 0px 5px 0px 5px;
    padding: 0px 2px 0px 10px;
}

.linecolor {
    height: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
